.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.App img {
  margin-bottom: 5px;
}

.App ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(203, 206, 201);
}

.App li {
  margin-right: 20px;
}

.App a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
.App a:hover {
  color: #121212;
  font-weight: 500;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .App {
    text-align: center;
  }

  .App img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .App li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .App li:not(:last-child) {
    margin-right: 10px;
  }
}
