.header-container {
  display: flex;
  background-color: rgb(6, 78, 6);
  color: white;
  padding: 20px;
  margin-top: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.text-container {
  margin: 0 50px;
}

.heading {
  color: rgb(223, 205, 14);
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 20px;
}

.button {
  background-color: rgb(223, 205, 14);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
}

.image {
  position: relative;
  bottom: -30%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 10%;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
  }

  .text-container {
    margin: 0;
  }

  .image {
    position: relative;
    bottom: 0%;
    left: 17%;
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10%;
  }
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .content {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .text-container {
    margin: 0;
  }

  .heading {
    font-size: 18px;
  }

  .paragraph {
    margin-bottom: 10px;
  }

  .image {
    position: relative;
    bottom: 0%;
    left: 15%;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 10%;
  }
}
