/* Main container */
main {
  padding: 20px;
  margin-top: 20px;
}

/* Special container */
.special-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Add space between the heading and button */
  margin-bottom: 20px;
}

.special-container h2 {
  margin-right: 15rem; /* Add margin to the right of the heading */
}

.online-menu-btn {
  margin-left: 15rem; /* Add margin to the left of the button */
}


.special-container h2 {
  margin-bottom: 10px;
}

/* .button {
  background-color: rgb(133, 133, 80);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
} */
/* Cards container */
.cards-container {
  display: flex;
  justify-content: center;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.card-left {
  margin-left: 30px;
}

.card-right {
  margin-right: 30px;
}

.card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.card-info {
  margin-top: 10px;
}

.card-info h3 {
  margin: 0;
}

.card p {
  margin: 10px 0;
}

.card-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.card-link i {
  margin-right: 5px;
}

.card-text {
  background-color: #f2f2f2;
  padding: 20px;
}
